

<!-- <p>category works!</p>
{{dataList|json}} -->
<div class="col-md-12">
    <h4>Category List</h4>
    <div class="example-button-container">
        <button mat-mini-fab color="primary" (click)="openDialog()"
        aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
      @for (item of dataList; track item.CategoryId; let i = $index)
      {
      <tr>
        <td>
            {{item.CategoryId}}
        </td>
       <td>
        {{item.CategoryName}}
       </td>
       <td>
        {{item.Description}}
       </td>
       <td>
        <div class="example-button-container">
          <button mat-mini-fab color="primary" (click)="openDialog(item.CategoryId)"
          aria-label="Example icon button with a plus one icon">
            <mat-icon>edit</mat-icon>
          </button> ||<button mat-mini-fab color="primary" (click)="delete(item.CategoryId)"
          aria-label="Example icon button with a plus one icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
       </td>
      </tr>
      }
    </tbody>
</table>
    
  </div>